body {
	background-color: #101010;
	margin: 0;
	padding: 0;
}

h1, p {
	color: #ff0090;
	font-family: "Courier New";
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	background-color: #333333;
	margin-bottom: 100px;
}

li {
	float: left;
}

a {
	text-decoration: none;
	color: #ff0090;
	font-family: "Courier New";
	font-size: 20px;
	display: block;
	padding: 15px;
}

a:hover {
	background-color: #232323;
}

footer {
	padding: auto;
	margin-top: 100px;
	padding: 0;
	width: 100%;
}

footer p {
	padding: 20px;
	margin: 0;
	background-color: #333333;
}

.contents {
	width: 1000px;
	margin: auto;
	background-color: #333333;
	height: 100%;
}

.header {
	padding: 0;
	margin: 0;
	background-color: #232323;
	border-top: solid #333333 1px;
	border-bottom: solid #131313 1px;
}

.header h1 {
	text-shadow: 0 0 3px #d30077;
	font-size: 30px;
	margin: 0;
	padding-top: 20px; 
	text-align: center;
}

.gameTitle {
	margin: 0;
	padding: 0;
}

.gameTitle h1 {
	text-align: center;
	color: #ccc;
}

canvas {
	margin: auto;
	padding: 0;
	display: block;
	background-color: #101010;
	border-top: solid #000000 1px;
	border-bottom: solid #434343 1px;
	border-right: solid #434343 1px;
	border-left: solid #000000 1px;
}

.instructions {
	margin: 0;
	padding: 0;
	padding-left: 100px;
	padding-right: 100px;
}

.instructions p {
	padding-top: 10px;

	color: #ccc;
}