body {
	background-color: #101010;
	margin: 0;
	padding: 0;
}

h1, p {
	color: #ff0090;
	font-family: "Courier New";
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	background-color: #333333;
}

li {
	float: left;
}

a {
	color: #ff0090;
	font-family: "Courier New";
	font-size: 20px;
	display: block;
	padding: 15px;
}

a:hover {
	background-color: #232323;
}

footer {
	padding: auto;
	margin: 0;
	padding: 0;
	width: 100%;
}

footer p {
	padding: 20px;
	margin: 0;
	background-color: #333333;
}

.contents {
	background-color: #333333;
	margin: 100px 240px;
	height: 100%
}

.header {
	padding: 0;
	margin: 0;
	background-color: #232323;
	border-top: solid #333333 1px;
	border-bottom: solid #131313 1px;
}

.header h1 {
	font-size: 30px;
	margin: 0;
	padding-top: 20px; 
	text-align: center;
}