body {
	background-color: #101010;
	margin: 0;
	padding: 0;
	background: radial-gradient(#202020, #000000);
}

h1, p {
	color: #ff0090;
	font-family: "Courier New";
}

.nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	background-color: #333333;
	margin-bottom: 100px;
}

.nav li {
	float: left;
}

.nav a {
	text-decoration: none;
	text-shadow: 0 0 1px #9800ff;
	color: #ff0090;
	font-family: "Courier New";
	font-size: 20px;
	display: block;
	padding: 15px;
}

.nav a:hover {
	background-color: #232323;
}

footer {
	padding: auto;
	margin-top: 100px;
	padding: 0;
	width: 100%;
}

footer p {
	padding: 20px;
	margin: 0;
	background-color: #333333;
}

.contents {
	width: 1000px;
	margin: auto;
	background-color: #333333;
	height: 100%;
}

.header {
	padding: 0;
	margin: 0;
	background-color: #232323;
	border-top: solid #333333 1px;
	border-bottom: solid #131313 1px;
}

.header h1 {
	text-shadow: 0 0 3px #d30077;
	text-shadow: 1px 1px #0011ff;
	text-shadow: 0 0 5px #9800ff;
	font-size: 40px;
	margin: 0;
	padding-top: 20px; 
	text-align: center;
}

.gameTitle {
	margin: 0;
	padding: 0;
}

.gameTitle h1 {
	text-align: center;
	color: #ccc;
	text-shadow: 0 0 2px #ff0090;
}

canvas {
	margin: auto;
	padding: 0;
	display: block;
	background-color: #101010;
	border-top: solid #000000 1px;
	border-bottom: solid #434343 1px;
	border-right: solid #434343 1px;
	border-left: solid #000000 1px;
	cursor: none;
}

.instructions {
	margin: 0;
	padding: 0;
	padding-left: 100px;
	padding-right: 100px;
}

.instructions p {
	padding-top: 10px;
	color: #ccc;
}

.menu ul {
	margin: 0;
	padding-left: 39px;
	padding-right: 39px;
	margin-top: 20px;
	list-style: none;
	overflow: hidden;
}

.menu li {
	margin: 0;
	padding: 0;
	float: left;
}

.menu img {
	margin: 0;
	padding: 0;
	width: 400px;
	border-top: solid #000000 1px;
	border-bottom: solid #434343 1px;
	border-right: solid #434343 1px;
	border-left: solid #000000 1px;
}

.menu a {
	padding: 10px;
	margin: 0;
	text-decoration: none;
	text-shadow: 0 0 5px #9800ff;
	color: #ff0090;
	font-family: "Courier New";
	font-size: 60px;
	display: block;
}

.menu img:hover {
	box-shadow: 0 0 10px #ff0090;
	border-top: solid #ff0090 1px;
	border-bottom: solid #ff0090 1px;
	border-right: solid #ff0090 1px;
	border-left: solid #ff0090 1px;
}

.pongText {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.row a {
	position: relative;
    text-align: center;
    color: white;
}
